

.header{
    display: flex;
    align-items: center;
    justify-content:center;
    height: 5.5rem;
    margin: 0;
    margin-bottom: 3.5rem;
    padding: 0 2rem;
    background-color: transparent;
    color: black;
    box-shadow: 0 5px 10px rgba(0,0,0,.06) ;
}

.navbar{
    display: flex;
    justify-content: flex-end;
    max-width: var(--max-width);
    width: 100%;

}
.navbar_items{
    margin-right: 2rem;
    cursor: pointer;
}

.profile{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    overflow: hidden;
}