:root {
  --primary-color:#C04641;
  --grey-color-dark: #D9D9D9;
  --grey-color-light: #F3F3F3;
  --black-color-light: #414141;
  --title-color:#000000;
  --max-width:90rem;
  

}

html,
body {
  padding: 0;
  margin: 0;
  font-family:  'Inter', sans-serif,Arial, sans-serif, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,h2,h3,h4,p,figure{
  margin: 0;
}

ul{
  list-style: none;
  margin: 0;
}
* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

/* GLOBAL CONTAINER */
.main-content{
  width: 100%;
   max-width:85rem;
   padding: 0 2rem;
}

/* GLOBAL STYLES */

.d-flex{
    display: flex;
}
.justify-content{
  justify-content: center;
}

.flex-column{
  flex-direction: column;
}
.align-items{
  align-items: center;
}

.text-3xl{
  font-size: 3.6rem;
}
.text-2xl{
  font-size: 2.6rem;
}
.text-1xl{
  font-size:1.3rem ;
}

.text-sm{
  font-size: 1.2rem ;
}

.text-bold{
  font-weight: bold;
}

.text-light{
  font-weight: lighter;
}
.text-medium{
  font-weight: 500;
}

/* INPUTS */
.w-input{
  background: none;
  outline: none;
  padding-left: .6rem;
  height: 2.4rem;
  border: 1px solid black;
  border-radius: .4rem;
  color: black;

}
.w-input::placeholder{
  color: black;
  font-size: 1rem;
}
.w-input-outline-primary{
  border-color: var(--primary-color);
}

/* BUTTONS */
.w-btn{
  position: relative;
  width: 9rem;
  background: none;
  border: none;
  font-size: 1.2rem;
  height: 2.4rem;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(0,0,0,.18);
  transition: box-shadow .3s ;
  
}
.w-btn:hover{
  box-shadow: 0 0 20px rgba(0,0,0,.3);
}
.w-btn-primary{
    background-color: var(--primary-color);
    border-radius: .4rem;
    color: white;
    background-image: linear-gradient(to right, var(--primary-color),rgb(255, 7, 65));
    
  
}

.w-btn-primary::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: .4rem;
  background-color:rgb(255, 7, 65);
  animation: overlays 1.4s ease-out infinite;
}

@keyframes overlays {
    0%{
      transform: scale(0);
      opacity: 1;
    }

    50%{
      transform: scale(1.3);
      opacity: 0;
    }
    100%{
      transform: scale(0);
      opacity: 0;
    }
}


